<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>927854466474-4hq4edlqof9hp7mptghbsr2t99bnov3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927854466474-4hq4edlqof9hp7mptghbsr2t99bnov3m</string>
	<key>API_KEY</key>
	<string>AIzaSyBeL2f6zhcSWAm5LWgLF_AV4fOjRkfi4O4</string>
	<key>GCM_SENDER_ID</key>
	<string>927854466474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hzrb.SmackDat</string>
	<key>PROJECT_ID</key>
	<string>eminescuchat</string>
	<key>STORAGE_BUCKET</key>
	<string>eminescuchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927854466474:ios:8e8f1f9ac644eace</string>
	<key>DATABASE_URL</key>
	<string>https://eminescuchat.firebaseio.com</string>
</dict>
</plist>